.cloud {
	width: 100%;
	transition: all 4s;
}

.cloud .cloudLoading {
	opacity: 0;
	height: 90px;
	margin-top: -90px;
	transition: all 1s;
}

.cloud .cloudLoading .icon {
	width: 50%;
	height: 50%;
}

.cloud .cloudLoading .icon use {
    transform-origin: center;
	animation: hourglass-spin 2s infinite;
}

.cloud.loading .cloudLoading {
	margin-top: 0px;
	opacity: .5;
}

.options {
	display: flex;
	align-items: center;
	justify-content: center;
}

.options button {
	background-color: #eee;
	border: thin solid #ccc;
	border-radius: .5em;
	padding: 1em;
	color: #333;
}

.options button:hover,
.options button:focus {
	background-color: #333;
	color: #eee;
}