.header {
	width: 100%;
	position: fixed;
	background: linear-gradient(#f1e767 50%, transparent);
	color: #333;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
}

.header h1 {
	font-size: 1em;
	font-family: 'Cairo', sans-serif;
	margin: 0;
	text-align: right;
}

.header > * {
	display: inline-block;
}

.header .brand {
	float: right;
}

.header .brand a {
	font-family: 'Cairo', sans-serif;
	color: #333;
	display: block;
	text-decoration: none;
}

.header .brand a:hover {
	border-bottom: thin solid #333;
}