.header {
	width: 100%;
	position: fixed;
	background-color: #333;
	color: #ddd;
    padding: 1em;
    box-sizing: border-box;
    z-index: 2;
}

.header h1 {
	font-size: 1em;
	margin: 0;
	text-align: right;
}

.header > * {
	display: inline-block;
}

.header .brand {
	float: right;
}