.navigation {
	text-align: left;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation li {
	display: inline-block;
	padding-right: 1em;
}

.navigation a {
	font-family: 'Cairo', sans-serif;
	color: #ddd;
	display: block;
	text-decoration: none;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation a.activeLink {
	border-bottom: thin solid #ddd;
}