.tags {
	font-size: .6em;
	margin-bottom: .4em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.tags .icon {
	width: 2em;
	height: 2em;
	margin: .2em;
}

.tags .icon use {
	fill: #fff;
}

.tag {
	font-size: 1.2em;
	font-family: 'Ubuntu Mono', monospace;
	color: #fff;
	background-color: #000;
	background-color: rgba(0,0,0,.6);
	padding: .5em;
	display: inline-block;
}