.tags {
	margin: 1em;
}

.tags .icon {
	width: 2em;
	height: 2em;
	margin: .2em;
}

.tags .icon use {
	fill: #333;
}

.tag {
	font-size: 1em;
	color: #333;
	padding: .5em;
	margin: 0 1em;
	display: inline-block;
}